<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <h1>All Chats</h1>
    <form method="GET" action="/chats/new">
        <button class="new">New chat</button>
    </form>

    <% for(let chat of chats){ %>
    <div class="chat-box">
        <div class="from">
            <p>From: <%= chat.from %></p>
        </div>

        <div class="msg">
            <p><%= chat.msg %></p>
        </div>

        <p class="to-info">To: <%= chat.to %></p>

        <div class="actions">
            <form method="GET" action="/chats/<%=chat._id %>/edit">
                <button class="edit-btn">Edit</button>
            </form>
            <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                <button class="delete-btn">Delete</button>
            </form>
        </div>

        <div class="time-container">
            <p><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %> | 
               <%= chat.created_at.toString().split(" ")[4] %></p>
        </div>
    </div>
    <% } %>
</body>
</html>
